@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Exo", system-ui !important;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo .logo-img {
  width: 200px;
  height: 200px;
}

.logo .logo-text {
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
}

.ant-btn {
  background-color: #FF782D
}

.ant-btn:hover {
  background-color: #FFAB2D !important;
}

.ant-menu-title-content a {
  text-decoration: none;
}

.sider-logo {
  background-color: white;
  cursor: pointer;
}

.text-right {
  text-align: right;
}